<!DOCTYPE html>
<html>

<head>
    <title>Activity management WEB</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1" />
    <link rel="shortcut icon" type="images" href="/images/icon.png">
    <link rel="stylesheet" type="text/css" href="/old/css/main.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
</head>

<body>
    <nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Activity management WEB</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <% if (user && user.role == 'admin') { %>
                        <li class="nav-item me-3">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Quản lý tài khoản
                                </button>
                                <ul class="dropdown-menu">
                                  <li><a class="dropdown-item" href="/user/list">Danh sách tài khoản</a></li>
                                  <li><a class="dropdown-item" href="/user/add">Thêm mới tài khoản</a></li>
                                </ul>
                              </div>
                        </li>
                    <% } %>
                    <% if (user && (user.role == 'admin' || user.role == 'organization')) { %>
                        <li class="nav-item me-3">
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Quản lý hoạt động
                                </button>
                                <ul class="dropdown-menu">
                                  <li><a class="dropdown-item" href="/activity/list">Danh sách hoạt động</a></li>
                                  <li><a class="dropdown-item" href="/activity/add">Thêm mới hoạt động</a></li>
                                </ul>
                              </div>
                        </li>
                    <% } %>
                </ul>
                <div class="navbar-nav mb-2 mb-lg-0 me-0">
                    <li class="nav-item me-3 align-middle">
                        <form class="d-flex" role="search" action="/activity/search" method="get">
                            <input class="form-control me-2" style="width: auto;" type="search" placeholder="Tìm kiếm hoạt động" aria-label="Search" name="q">
                            <button class="btn btn-outline-info" type="submit">Tìm kiếm</button>
                        </form>
                    </li>
                </div>
                &nbsp;
                &nbsp;
                <% if (!user) { %>
                <div class="row row-cols-lg-auto g-3 align-items-center">
                    <a href="/auth/login" class="btn btn-primary">Đăng nhập</a>
                    &nbsp;
                    <a href="/auth/register" class="btn btn-primary">Đăng ký tài khoản</a>
                    &nbsp;
                </div>
                <% } else { %>
                <div class="navbar-nav mb-2 mb-lg-0 me-0">
                    <!-- &nbsp;
                    <a href="/me" class="btn btn-primary">Cài đặt</a>
                    &nbsp;
                    <a href="/auth/logout" class="btn btn-primary">Đăng xuất</a>
                    &nbsp; -->
                    <li class="nav-item me-3 align-middle">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <% if (user.role == 'admin') { %>
                                    <span class="text-white me-3"><%= user.username %> (Quản trị viên)</span>
                                <% } %>
                                <% if (user.role == 'organization') { %>
                                    <span class="text-white me-3"><%= user.username %> (Tổ chức)</span>
                                <% } %>
                                <% if (user.role == 'student') { %>
                                    <span class="text-white me-3"><%= user.username %> (Sinh viên)</span>
                                <% } %>
                            </button>
                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item" href="/user/me">Thông tin cá nhân</a></li>
                                <% if (user.role == 'student') { %>
                                    <li><a class="dropdown-item" href="/activity/my_activity">Hoạt động của tôi</a></li>
                                <% } %>
                                <li><a class="dropdown-item" href="/auth/logout">Đăng xuất</a></li>
                            </ul>
                          </div>
                    </li>
                </div>
                <% } %>
            </div>
        </div>
    </nav>

    <div class="container mt-3">
        <div class="alert-area">
            <% if (success) { %>
                <% success.forEach(message => { %>
                    <div class="alert alert-success">
                        <%= message %>
                    </div>
                <% }) %>
            <% } %>
            <% if (error) { %>
                <% error.forEach(message => { %>
                    <div class="alert alert-danger">
                        <%= message %>
                    </div>
                <% }) %>
            <% } %>
        </div>
