<%- include('../components/header'); %>

<div class="row justify-content-lg-center">
    <div class="col-md-6">
            <h2>Thông tin tài khoản sinh viên | ID: #<%- _user.id %></h2>
            <form>
                <div class="form-group mb-3">
                    <div class="row mb-3">
                        <div class="col-lg-6">
                            <label for="id_username">Tài khoản</label>
                            <input type="text" name="username" id="id_username" class="form-control" value="<%- _user.username %>" readonly>
                        </div>
                        <div class="col-lg-6">
                            <label for="id_password">Mật khẩu</label>
                            <input type="password" name="password" id="id_password" class="form-control" readonly>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-6">
                            <label for="id_student_id">Mã sinh viên</label>
                            <input type="text" name="student_id" id="id_student_id" class="form-control" value="<%- _student.id %>" readonly>
                        </div>
                        <div class="col-lg-6">
                            <label for="id_fullname">Họ và tên</label>
                            <input type="text" name="fullname" id="id_fullname" class="form-control"  value="<%- _student.fullname %>" readonly>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-6">
                            <label for="id_faculty">Khoa</label>
                            <input type="text" name="faculty" id="id_faculty" class="form-control"  value="<%- _student.faculty %>" readonly>
                        </div>
                        <div class="col-lg-6">
                            <label for="id_class">Lớp</label>
                            <input type="text" name="class" id="id_class" class="form-control"  value="<%- _student.class %>" readonly>
                        </div>
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-6">
                            <label for="id_email">Email</label>
                            <input type="email" name="email" id="id_email" class="form-control"  value="<%- _student.email %>" readonly>
                        </div>
                        <div class="col-lg-6">
                            <label for="id_phone">Số điện thoại</label>
                            <input type="text" name="phone" id="id_phone" class="form-control"  value="<%- _student.phone %>" readonly>
                        </div>
                    </div>
                </div>
            </form>
    </div>
</div>
<script src="/js/plugin.js"></script>
    <script src="/js/scripts.js"></script>

<%- include('../components/footer'); %>
