<!DOCTYPE html>
<html lang="en">
    <%- include('../includes/head.ejs', { title: 'Danh sách đăng ký' }) %>



<body class="color-theme-blue mont-font">
    <!-- navigation top-->
    <%- include('../includes/header.ejs',{
        userss: userss,
    })
    %>
    <!-- navigation top -->

    <!-- navigation left -->
    <%- include('../includes/nav.ejs',{
        userss: userss,
    }) %>
    <!-- navigation left -->
        
    <!-- main content -->
    <div class="main-content " style="padding-top: 105px">
        <!-- Khuc ni la mot cai hoat dong ni -->
        <div class="row">
            <div class="col-xl-12 col-xxl-9 col-lg-9" style="max-width: 900px;">
                    <div class="card w-100 shadow-xss rounded-xxl border-0 p-4 mb-3">
                        <div class="card-body p-0 d-flex">
                            <figure class="avatar me-3"><img src="<%= activity.avt %>" alt="image" class="shadow-sm rounded-circle w45"></figure>
                            <h4 class="fw-700 text-grey-900 font-xssss mt-1">
                                <%= activity.username %>
                                <span class="d-block font-xssss fw-500 mt-1 lh-3 text-grey-500">
                                    1 giờ trước
                                </span>
                            </h4>
                        </div>
                        <div class="card-body p-0 me-lg-5">
                            <p class="fw-500 text-grey-500 lh-26 font-xs w-100"><%= `${activity.name}` %></p>
                            <p class="fw-600 text-grey-500 lh-26 font-xsss w-100">
                                <%= `Thời gian diễn ra hoạt động : 
                                ${activity.start_date.toLocaleDateString()}-${activity.end_date.toLocaleDateString()}` %>
                            </p >
                            <p class="fw-600 text-grey-500 lh-26 font-xsss w-100"><%= `Thời gian cho phép đăng ký : 
                                ${activity.registration_start_date.toLocaleDateString()}-${activity.registration_end_date.toLocaleDateString()}` %>
                            </p>
                            <p class="fw-600 text-grey-500 lh-26 font-xsss w-100"><%= `Địa điểm : 
                                ${activity.location}` %>
                            </p>    
                        </div>
                    </div>
            </div>
        </div>
        <div class="d-flex col-xl-8 justify-content-between align-items-center">
            <div>
                <h5>DANH SÁCH ĐĂNG KÝ THAM GIA HOẠT ĐỘNG</h5>
            </div>
                <% if (userss && activity.organization_id == userss.id) { %>
                    <a href="/activity/<%= activity.id %>/download-excel" class="btn btn-success">
                        <i class="fas fa-file-excel"></i> Excel
                    </a>
                <% } %>
        </div>
        <div class="<% if (userss != null) {
            if (userss.role == 'admin' || userss.id == activity.organization_id) { %> col-xl-12 <%}}%> pt-3" style="min-width: 600px;">
            <div class="middle-sidebar-left pe-0 ms-0 me-0" style="max-width: 100%;">
                <div class="col-lg-12">
                        <div class="chat-wrapper w-100 position-relative scroll-bar bg-white theme-dark-bg">
                            <ul class="email-message">
                                <li>
                                    <a href="" class="rounded-3 bg-lightblue theme-light-bg">
                                        
                                        <div class="email-user">
                                            <h6 class="font-xssss text-grey-900 text-grey-900 mb-0 mt-0 fw-700">
                                                Họ và tên
                                            </h6>
                                        </div>
                                        <div class="email-subject text-grey-900 text-dark fw-700 font-xssss">
                                            Mã SV
                                        </div>
                                        <div class="email-text text-grey-500 fw-700 font-xssss">
                                            Khoa
                                        </div>
                                        <div class="email-subject text-grey-900 text-dark fw-700 font-xssss">
                                            Lớp 
                                        </div>
                                        <div class="email-text text-grey-500 fw-700 font-xssss">
                                            Email
                                        </div>
                                        <div class="email-subject text-grey-900 text-dark fw-700 font-xssss">
                                            Số điện thoại
                                        </div>
                                        <% if (userss != null) {
                                            if (userss.role == 'admin' || userss.id == activity.organization_id) { %>
                                                <div class="text-grey-900 text-dark fw-700 font-xssss col-member-100">
                                                    Xác nhận
                                                </div>
                                                <div class="text-grey-900 text-dark fw-700 font-xssss col-member-100">
                                                    Điểm danh
                                                </div>
                                                <div class="text-grey-900 text-dark fw-700 font-xssss col-member-100">
                                                    Mong muốn
                                                </div>
                                                
                                        <%}}%>
                                        <!-- <div class="email-time text-grey-500 fw-600">12:48PM</div> -->
                                    </a>
                                </li>
                                <!-- Bat dau thong tin cu mot sinh vien -->
                                <% listmember.forEach(function(member){ %>
                                    <li>
                                        <a href="/user/<%-member.user_id%>/view" class="rounded-3 bg-lightblue theme-light-bg">
                                            
                                            <div class="email-user">
                                                <!-- neu sinh vien huy dang ky thi la bg-warning, khong thi la bg-success -->
                                                <span class="btn-round-xss ms-0 me-2"></span> 
                                                <h6 class="font-xssss text-grey-900 text-grey-900 mb-0 mt-0 fw-700">
                                                    <%= member.username %>
                                                </h6>
                                            </div>
                                            <div class="email-subject text-grey-900 text-dark fw-600 font-xssss">
                                                <%=  member.masv %>
                                            </div>
                                            <div class="email-text text-grey-500 fw-600 font-xssss">
                                                <%= member.faculty %>
                                            </div>
                                            <div class="email-subject text-grey-900 text-dark fw-600 font-xssss">
                                                <%= member.class %>
                                            </div>
                                            <div class="email-text text-grey-500 fw-600 font-xssss">
                                                <%= member.email %>
                                            </div>
                                            <div class="email-subject text-grey-900 text-dark fw-600 font-xssss">
                                                <%= member.phone_number %>
                                            </div>
                                            <% if (userss != null) {
                                                if (userss.role == 'admin' || userss.id == activity.organization_id) { %>
                                                <div class="col-member-100">
                                                    <input class="" type="checkbox" id="checkbox_<%= member.student_id %>" value="option1" aria-label="" 
                                                    <% if (member.isComfirm == true)  {%> 
                                                        checked
                                                        onchange="ConfirmStudentRegister(<%= activity.id %>, <%= member.student_id %>, false, 'checkbox_<%= member.student_id %>')"
                                                    <%} else {%>
                                                        onchange="ConfirmStudentRegister(<%= activity.id %>, <%= member.student_id %>, true, 'checkbox_<%= member.student_id %>')"
                                                    <%}%>
                                                    >
                                                </div>
                                                
                                                <div class="col-member-100">
                                                    <!--tich vo la sinh vien da diem danh, cap nhat tren database-->
                                                    <input class="" type="checkbox" value="option1" aria-label=""
                                                    <% if (member.isAttendance == true)  {%> 
                                                        checked 
                                                    <%}%> disabled>
                                                </div>

                                                <div class="email-subject text-grey-900 text-dark fw-600 font-xssss">
                                                    <%= member.wish %>
                                                </div>
                                            <%}}%>
                                            
                                            <!-- <div class="email-time text-grey-500 fw-600">12:48PM</div> -->
                                        </a>
                                    </li>
                                <%})%>
                            </ul>
                        </div>
                </div>
            </div>
        </div>
        
    </div>

        <style>
            .form-check .form-check-input {
            float: left;
            margin-left: 1em;
            width: 1.5em;
            height: 1.5em;
            }
           

        </style>
        <!-- main content -->

       
    </div> 
    <script src="/js/action.js"></script>
    <script src="/js/plugin.js"></script>
    <script src="/js/lightbox.js"></script>
    <script src="/js/scripts.js"></script>
</body>

</html>