<%- include('../components/header'); %>

<div class="row justify-content-lg-center">
    <h2>Hoạt động của tôi</h2>
    <div class="col-md-10">
        <table class="table table-striped mt-5 align-middle">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Hoạt động</th>
                    <th scope="col">Đơn vị tổ chức</th>
                    <th scope="col">Trạng thái</th>
                </tr>
            </thead>
            <tbody>
                <% activities.forEach(activity => { %>
                    <tr>
                        <th scope="row"><a href="/activity/<%- activity.id %>/view" class="btn btn-link"><%- activity.id %></a></th>
                        <td><%- activity.name %></td>
                        <td><%- activity.organization_name %></td>
                        <td>
                            <% if (activity.attendance_id) { %>
                                <span class="badge bg-success">Đã điểm danh</span>
                            <% } else { %>
                                <span class="badge bg-warning">Chưa điểm danh</span>
                            <% } %>
                        </td>
                    </tr>
                <% }) %>
            </tbody>
        </table>
    </div>
</div>

<%- include('../components/footer'); %>
