<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Danh Sách Đăng Ký</title>

    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/feather.css">
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="images/favicon.png">
    <!-- Custom Stylesheet -->
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    
</head>


<body class="color-theme-blue mont-font">
    <!-- navigation top-->
    <%- include('../includes/header.ejs',{
        userss: userss,
    })
    %>
    <!-- navigation top -->

    <!-- navigation left -->
    <%- include('../includes/nav.ejs',{
        userss: userss,
    }) %>
    <!-- navigation left -->
        
    <!-- main content -->
    <div class="main-content" style="padding-top: 105px">
        <!-- Khuc ni la mot cai hoat dong ni -->
        <div class="row">
            <div class="col-xl-12 col-xxl-9 col-lg-9" style="max-width: 900px;">
                <div class="card w-100 shadow-xss rounded-xxl border-0 p-4 mb-3">
                    <div class="card-body p-0 d-flex">
                        <figure class="avatar me-3"><img src="<%= activity.avt %>" alt="image" class="shadow-sm rounded-circle w45"></figure>
                        <h4 class="fw-700 text-grey-900 font-xssss mt-1">
                            <%= activity.username %>
                            <span class="d-block font-xssss fw-500 mt-1 lh-3 text-grey-500">
                                3 giờ trước
                            </span>
                        </h4>
                    </div>
                    <div class="card-body p-0 me-lg-5">
                        <p class="fw-500 text-grey-500 lh-26 font-xs w-100"><%= activity.name %></p>
                        <p class="fw-600 text-grey-500 lh-26 font-xsss w-100">
                            Thời gian diễn ra hoạt động: <%= activity.start_date.toLocaleDateString() %> - <%= activity.end_date.toLocaleDateString() %>
                        </p>
                        <p class="fw-600 text-grey-500 lh-26 font-xsss w-100">
                            Thời gian cho phép đăng ký: <%= activity.registration_start_date.toLocaleDateString() %> - <%= activity.registration_end_date.toLocaleDateString() %>
                        </p>
                        <p class="fw-600 text-grey-500 lh-26 font-xsss w-100">
                            Địa điểm: <%= activity.location %>
                        </p>    
                        <p class="fw-600 text-grey-500 lh-26 font-xsss w-100">
                            Số lượng đăng ký tối đa: <%= activity.maxnumber %>
                        </p> 
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-10 col-md-8 col-sm-10">
                        <div class="card w-100 shadow-xss rounded-xxl border-0 p-4 mb-3">
                            <form action="###" method="post">
                                <div class="form-group mb-3">
                                    <label for="full-name" class="font-xsss fw-60">Họ và tên</label>
                                    <input type="text" id="full-name" name="full-name" class="form-control text-grey-900 font-xsss fw-60" 
                                    value="<%= student.username %>" readonly>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="student-id" class="font-xsss fw-60">Mã sinh viên</label>
                                    <input type="text" id="student-id" name="student-id" class="form-control text-grey-900 font-xsss fw-60" 
                                    value="<%= student.masv %>" readonly>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="faculty" class="font-xsss fw-60">Khoa</label>
                                    <input type="text" id="faculty" name="faculty" class="form-control text-grey-900 font-xsss fw-60" 
                                    value="<%= student.faculty %>" readonly>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="class" class="font-xsss fw-60">Lớp</label>
                                    <input type="text" id="class" name="class" class="form-control text-grey-900 font-xss ls-3" 
                                    value="<%= student.class %>" readonly>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="email" class="font-xsss fw-60">Email</label>
                                    <input type="text" id="email" name="email" class="form-control text-grey-900 font-xss ls-3" 
                                    value="<%= student.email != null ? student.email : '' %>" placeholder="Hãy nhập email của bạn" required>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="phone_number" class="font-xsss fw-60">Số điện thoại</label>
                                    <input type="text" id="phone_number" name="phone_number" class="form-control text-grey-900 font-xss ls-3" 
                                    value="<%= student.phone != null ? student.phone : '' %>" placeholder="Hãy nhập số điện thoại của bạn" required>
                                </div>
                                <div class="form-group mb-3">
                                    <label for="wish" class="font-xsss fw-60">Mong muốn của bạn</label>
                                    <input type="text" id="wish" name="wish" class="form-control text-grey-900 font-xss ls-3" placeholder="Mong muốn của bạn">
                                </div>
                                <button type="submit" name="submit" class="btn btn-primary w-100">Đăng ký</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        
    </div>
    <!-- main content -->

    <script src="/js/plugin.js"></script>
    <script src="/js/lightbox.js"></script>
    <script src="/js/scripts.js"></script>
    <script src="/js/jquery.easypiechart.min.js"></script> 
    <script>
        $('.chart').easyPieChart({
            easing: 'easeOutElastic',
            delay: 3000,
            barColor: '#3498db',
            trackColor: '#aaa',
            scaleColor: false,
            lineWidth: 5,
            trackWidth: 5,
            size: 50,
            lineCap: 'round',
            onStep: function(from, to, percent) {
                this.el.children[0].innerHTML = Math.round(percent);
            }
        });
    </script> 
</body>
</html>
